In [2]:
#pandas数据结构介绍(常用Series, DataFrame)

In [3]:
#Series       一维的数组型对象，包含一个值序列，并且包含了数据标签，称为索引(index)

In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
import numpy as np

In [15]:
obj = Series([4, 7, -5, 3])

In [16]:
obj        #默认生成的索引是从0到N-1

0    4
1    7
2   -5
3    3
dtype: int64

In [17]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [18]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])      #指定索引序列

In [11]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [12]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [14]:
obj2['a']

-5

In [15]:
obj2['d'] = 6

In [16]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [17]:
obj2[obj2 > 0]    #使用布尔值数组进行过滤，与标量向乘，或者是应用数学函数，这些操作将保存索引值连接

d    6
b    7
c    3
dtype: int64

In [18]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [26]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [27]:
'b' in obj2    #可以认为Series是一个长度固定且有序的字典

True

In [28]:
'e' in obj2

False

In [7]:
sdata = {'Ohio':35000, 'Texas':71000, 'Oregon':16000, 'Utah':5000}

In [30]:
obj3 = Series(sdata)    #可以使用字典生成一个Series

In [31]:
obj3          #索引是排序好的字典键

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [5]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [8]:
obj4 = Series(sdata, index = states)       #可以将字典键按照你所想要的顺序传递给构造函数

In [9]:
obj4            #因为California没有出现在sdata键中，它对应的值是NaN(not a number),这是pandas标记缺失值或NA值   Utah不在states中，被排除。

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [36]:
pd.isnull(obj4)       #检查缺失数据

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [40]:
obj4.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [41]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [42]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [43]:
obj3 + obj4   #Series中数学操作自动对齐索引

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [13]:
obj4.name = 'population'    #Series对象自身和其索引都有name属性

In [11]:
obj4.index.name = 'state'

In [12]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [19]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [20]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [21]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64